.carousel__img{
    width: 100% !important;
    /* width: 30rem !important; */
    /* height: 30rem !important; */
    display: block !important;
}
.carousel {
    position: relative;
    width: 30rem;
    z-index: -1;
}
.directory{
    margin: 6rem 0 4rem 0;
}
.directory__container{
    min-height: 56.2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}
.directory__notFound{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.directory__notFound p{
    margin: 6px 0;
}
.search__form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search__input{
    width: 40vw;
    height: 2rem;
    margin: 0;
}
.search__button{
    width: 10vw !important;
    height: 2rem !important;
    padding: 0 !important;
}