.page__container {
    position: relative;
    min-height: 100vh;
}
.footer {
    position: absolute;
    bottom: 0;
    width: calc(100vw - (100vw - 100%));
    height: 8rem;
    border-top: 1px solid #eaeaea;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: black;
    color: white;
    padding: 0 2rem;
    flex-wrap: wrap;
}

@media only screen and (max-width: 725px) {
    .footer {
        height: 11rem;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer__contact p{
        display: none;
    }

} 

.footer__contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer img {
    margin-left: 0.5rem;
}
  
.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__links .MuiAvatar-root{
    background-color: white;
    color: black;
}

.footer__links .MuiAvatar-root .MuiSvgIcon-root:hover{
    font-size: 30px !important;
}

.footer__links .MuiIconButton-root{
    color: #084298;
    padding: 4px;
    margin: 10px;
}

.footer__links .MuiIconButton-root:hover {
    background-color: #c4c4f999;
}

.footer__rights .MuiSvgIcon-root {
    width: 15px !important;
    height: auto !important;
    font-weight: 100 !important;
    margin-bottom: -1.5px !important;

}

.footer__info{
    width: 16rem;
    font-size: 11px;
    text-align: center;
}
.footer p{
    margin: 0;
}
.footer__info a{
    cursor: pointer;
    display: inline;
}
.footer__info p a{
    text-decoration: underline;
}