.navbar__normal, .navbar__top{
    position: fixed;
    top: 0;
    width:calc(100vw - (100vw - 100%));
    margin: 0;
    padding: .4rem 1.5rem .4rem 1rem;
    padding-right: 2rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-weight: 700;
}
.navbar__mobile .navbar__normal, .navbar__mobile .navbar__top{
    padding: 0;
}
.navbar__normal{
    background-color: black;
    z-index: 1;
}
.navbar__top{
    background-color:rgba(0, 0, 0, 0.021);
    color:black;
}
.nav__hidden{
    display: none;
}
.navbar__nav{
    width: fit-content;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.navbar__brand , .navbar__navitem{
    width: fit-content;
    margin: 0rem 1rem;
}
.header__home{
    position: relative;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    background-image: url('https://res.cloudinary.com/jomoto/image/upload/v1618008221/hero/20201229_065147_2_kgihbq.jpg');
    background-position: 58%;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    width: calc(100vw - (100vw - 100%));
}
.MuiList-root , .MuiListItem-root , .MuiTypography-root{
    background: transparent !important;
    font: inherit !important;
}
.navbar__mobile .MuiListItem-root .MuiListItemText-root , .navbar__mobile .MuiSvgIcon-root , .navbar__mobile .MuiListItem-root .MuiListItemText-root , .navbar__mobile .MuiSvgIcon-root {
    color: whitesmoke !important;
}
.navbar__mobile .MuiCollapse-container .MuiListItem-root .MuiListItemText-root{
    color: rgba(255, 255, 255, 0.65) !important;
    text-align: right;
}
.navbar__mobile .MuiCollapse-container .MuiListItem-root .MuiListItemText-root:hover {
    color: rgba(255, 255, 255, 0.85) !important;
}
.navbar__mobile .navbar__top .MuiListItem-root .MuiListItemText-root , .navbar__mobile .navbar__top .MuiSvgIcon-root , .navbar__mobile .navbar__top .MuiListItem-root .MuiListItemText-root , .navbar__mobile .navbar__top .MuiSvgIcon-root {
    color: black !important;
}
.navbar__mobile .navbar__top .MuiCollapse-container .MuiListItem-root .MuiListItemText-root{
    color: rgba(0, 0, 0, 0.55) !important;
    text-align: right;
}
.navbar__mobile .navbar__top .MuiCollapse-container .MuiListItem-root .MuiListItemText-root:hover {
    color: rgba(0, 0, 0, 0.75) !important;
}
.navbar__mobile .MuiList-root {
    max-width: 100%;
    width: 100%;
}
.logo{
    width: 50px;
    cursor: pointer;
}
li.MuiListItem-root.MuiListItem-gutters{
    justify-content: space-between;
}