.home__line{
    width: 80vw;
    border: solid 1px #6C7282;
    border-radius: 50%;
}
.post{
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 4rem;
}
.post__container , .post__wide__container{
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 30.3rem;
    margin:auto;
    padding: 4rem;
}
.post__wide__container{
    flex-direction: row;
    width: 50%;
    height: 18rem;
}
.post__info{
    width: 15rem;
}
.post__info p{
    height: 6rem;
    overflow: hidden;
}
.post__wide__info{
    padding: 0.5rem 1.5rem 0 0;
}
.post__img, .post__wide__img, .featurePost__img{
    border-radius: 0.2rem;
}
.post__img , .post__wide__img{
    height: 15rem;
    width: 15rem;
}
.post__container p , .post__wide__container p{
    color: #6C7282;
}
.post__container h2{
    margin: 0.5rem 0 0 0;
    font-size: 1.8rem;
}

.featurePost__container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    width: 80vw;
    margin:auto;
    padding: 1.8rem;
}
.featurePost__img{
    height:25rem;
    flex: 1;
    width: auto;
    display: inline-block;
}
.featurePost__info{
    display: inline-block;
    padding-right: 2rem;
    z-index:-1;
}
.featurePost__text{
    height: 21rem !important;
    overflow: hidden;
    mask-image:linear-gradient(to top, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
    color: #6C7282;
    
}
.featurePost__container h2{
    margin: 1rem 0 0.2rem 0;
}
.featurePost__container h2, .post__container h2{
    display: inline-block;
}
.featurePost__container h2, .featurePost__container img, .post__container h2, .post__container img{
    cursor: pointer;
}